<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <title>Marvel Testnet</title>
</head>
<body>
   <div id="app">
      <dialog id="wallet-generate-dialog" :open="walletCreatePrompt.show" style="width: auto; height: inherit; margin-left: 12px; margin-right: 12px;">
         <h2>Create new wallet</h2>

         <div v-if="walletCreatePrompt.actionType === 'NONE'">
            <button @click="walletCreatePrompt.actionType = 'CREATE'">Create new one</button>
            <button @click="walletCreatePrompt.actionType = 'IMPORT'">Import from keys</button>
         </div>
         <div v-else>
            <button @click="walletCreatePrompt.actionType = 'NONE'"><strong>X</strong> Cancel</button>
         </div>

         <form v-if="walletCreatePrompt.actionType !== 'NONE'" name="wallet-key-form" @submit.prevent="saveWalletKeys">
            <p>
               <label for="address">Address</label>
               <br />
               <input 
                  v-model="walletCreatePrompt.address" 
                  type="text" 
                  name="address" 
                  maxlength="128" 
                  required
                  style="width: 80%;"
                  readonly />
            </p>
            
            <p>
               <label for="publicKey">Public key</label>
               <br />
               <textarea 
                  v-model="walletCreatePrompt.publicKey" 
                  type="text" 
                  name="publicKey" 
                  rows="6" 
                  required
                  cols="43"
                  :readonly="walletCreatePrompt.actionType === 'CREATE'"></textarea>
            </p>
            
            <p>
               <label for="privateKey">Private key</label>
               <br />
               <textarea 
                  v-model="walletCreatePrompt.privateKey" 
                  type="text" 
                  name="privateKey" 
                  rows="8" 
                  cols="43"
                  required
                  :readonly="walletCreatePrompt.actionType === 'CREATE'"></textarea>
            </p>

            <button type="submit" style="width: 80%;">Done</button>
         </form>

         <br />
         <br />
       </dialog>

      <div v-show="loading" style="background-color: royalblue; color: white; padding: 12px;">Loading...</div>
      <h1>Marvel Testnet</h1>
      <p>Your address: <strong>{{ address }}</strong></p>
      <p>Your balance: <strong>{{ balance }} MRT</strong></p>

      <form @submit.prevent="transferTokens">
         <p>
            <label for="from">From</label>
            <br />
            <input type="text" name="from" placeholder="From" :value="address" readonly />
         </p>

         <p>
            <label for="to">To</label>
            <br />
            <input v-model="transferOptions.to" type="text" name="to" placeholder="Address" required />
         </p>
         <p>
            <label for="to">Amount</label>
            <br />
            <input v-model="transferOptions.amount" type="number" name="to" placeholder="0" min="1" autocomplete="off" required />
         </p>
         <p>
            <button type="submit">Send</button>
         </p>
      </form>

      <hr />

      <div v-if="transactions.length === 0">No transactions</div>
      <ul v-else>
         <li v-for="tx in transactions" :key="tx.hash">
            <div><strong>From: </strong>{{ tx.transaction.from }}</div>
            <div><strong>To: </strong>{{ tx.transaction.to }}</div>
            <div><strong>Amount: </strong>{{ tx.transaction.amount }} MRT</div>
            <div><strong>txHash: </strong>{{ tx.transaction.txHash }}</div>
            <div><strong>Hash: </strong>{{ tx.hash }}</div>
            <div><strong>Timestamp: </strong>{{ tx.timestamp }}</div>
            <br />
         </li>
      </ul>

   </div>
</body>
<script>

   const app = new Vue({
      el: '#app',
      data() {
         return {
            walletCreatePrompt: {
               show: false,
               actionType: 'NONE',
               address: '',
               publicKey: '',
               privateKey: ''
            },

            address: '',
            publicKey: '',
            balance: 0,
            transactions: [],
            loading: false,
            transferOptions: {
               to: '',
               amount: ''
            }
         }
      },
      watch: {
         async address(newAccount) {
            if (newAccount) {
               this.loading = true;
               await this.fetchBalance();
               await this.fetchTransactions();
               this.loading = false;
            }
         },
         async 'walletCreatePrompt.actionType'(newAction) {
            switch(newAction) {
               case 'CREATE':
                  const keys = await this.fetchWalletKeys(); 
                  this.walletCreatePrompt.address = keys.address;
                  this.walletCreatePrompt.publicKey = keys.publicKey;
                  this.walletCreatePrompt.privateKey = keys.privateKey;
                  break;

               case 'IMPORT':
                  break;

               case 'NONE':
                  this.walletCreatePrompt.address = '';
                  this.walletCreatePrompt.publicKey = '';
                  this.walletCreatePrompt.privateKey = '';
                  break;
            }
         }
      },
      computed: {
         privateKey() {
            return localStorage.get('PRIVATE_KEYS') || '';
         },
         http() {
            return axios.create({
               headers: {
                  'X-Public-Key': btoa(localStorage.getItem('PUBLIC_KEY')),
                  'X-Public-Address': this.address
               }
            });
         }
      },
      created() {
         this.loading = false;
         this.getWalletKeys();
      },
      async mounted() {
      },
      methods: {
         getWalletKeys() {
            this.address = localStorage.getItem('ADDRESS') || '';

            if (this.address.length === 0) {
               this.walletCreatePrompt.show = true;
            }
         },
         saveWalletKeys() {
            localStorage.setItem('ADDRESS', this.walletCreatePrompt.address);
            localStorage.setItem('PUBLIC_KEY', this.walletCreatePrompt.publicKey);
            localStorage.setItem('PRIVATE_KEY', this.walletCreatePrompt.privateKey);
            this.walletCreatePrompt.show = false;
         },

         async fetchBalance() {
            try {
               const response = await this.http.get('/balance');
               this.balance = response.data.value;
            } catch (error) {
               console.log(error);
               alert("Failed to get account balance");
            }
         },

         async transferTokens() {
            const data = Object.assign({ type: 'TRANSFER', privateKey: encodeURI(localStorage.getItem('PRIVATE_KEY')) }, this.transferOptions);

            if (this.address === data.to) {
               alert("You can't transfer MRT to same address");
               return;
            }

            this.loading = true;

            try { 
               const response = await this.http.post('/tx/execute', data);

               console.log("TRANSFER", response);

               alert(response.data.message);
               await this.fetchBalance();
               await this.fetchTransactions();
            } catch (error) {
               console.log(error);
               alert("Transaction failed");
            }
            this.loading = false;
         },

         async fetchTransactions() {
            try {
               const response = await this.http.get('/tx');
               this.transactions = response.data;
            } catch (error) {
               alert("Failed to get transactions");
            }
         },

         async fetchWalletKeys() {
            let keys, address;

            try {
               const keyGenResponse = await axios.get('/key/generate');
               keys = keyGenResponse.data.keys;

               const addressGenResponse = await axios.post('/key/address', {
                  publicKey: keys.publicKey
               });
               address = addressGenResponse.data.address;

               return Object.assign({ address }, keys);
            } catch (error) {
               alert("Failed to generate your wallet keys");
            }
         }
      }
   });
</script>
</html>